files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_storage_writable.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo yum install java-1.8.0-openjdk-devel <<< y
      sudo alternatives --config java <<< 2
      sudo yum install -y gcc-c++ make
      sudo curl -sL https://rpm.nodesource.com/setup_10.x | sudo -E bash -
      sudo yum install nodejs -y
      sudo npm install --prefix /var/app/current
      echo "Making /storage writeable..."
      rm -rRf /var/current/storage/debugbar/*
      rm -rRf /var/current/storage/framework/views/*
      rm -rRf /var/current/storage/framework/cache/data/*
      rm -rRf /var/current/storage/framework/sessions/*
      rm -rRf /var/current/storage/reports/*
      rm -rRf /var/current/.env
      mkdir /var/current/storage/reports
      mkdir /var/current/storage/framework/views
      mkdir /var/current/storage/framework/cache/data
      mkdir /var/current/storage/framework/sessions/
      chmod 0777 -R /var/app/current/storage
      chmod 0777 -R /var/app/current/public
      chown ec2-user:webapp -R /var/app/current/public
      chown ec2-user:webapp -R /var/app/current/storage
      php /var/app/current/artisan storage:link

      if [ ! -f /var/app/current/storage/logs/laravel.log ]; then
          echo "Creating /storage/logs/laravel.log..."
          rm -rRf /var/app/current/storage/logs/laravel.log
          touch /var/app/current/storage/logs/laravel.log
          chown ec2-user:webapp -R /var/app/current/storage
      fi

      if [ ! -d /var/app/current/public/storage ]; then
          echo "Creating /public/storage symlink..."
          ln -s /var/app/current/storage/app/public /var/app/current/public/storage
      fi

  "/opt/elasticbeanstalk/tasks/publishlogs.d/laravel.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log

commands:
  remove_old__task_conf:
    command: "rm -frR /opt/elasticbeanstalk/tasks/publishlogs.d/laravel*.bak"
